# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binaries
*_test

# Go build cache
.cache/go-build/

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store

# Log files
*.log

# Environment variables
.env